/* .container-fluid{
  height: 100%;


}
.container-position{
  margin-top: 15px;
}
 */
.out-container {

  background-color: lightgray;

}

.navigation {
  background-color: lightcyan;
}

.dashboard {
  background-color: 	#fff1f1;

}

.dashboard-information {
  background-color: lightsalmon;
}

.setting {
  background-color: lightblue;
}

.news {
  background-color: lightgreen;
}
