/* .container-fluid{
  height: 100%;


}
.container-position{
  margin-top: 15px;
}
 */

.navigation {
  background-color: lightcyan;
}

.dashboard {
  background-color: lightcoral;
}

.dashboard-information {
  background-color: lightsalmon;
}

.setting{
  background-color: lightblue;
}

.news{
  background-color: lightgreen;
}

