/* .container-fluid{
  height: 100%;


}
.container-position{
  margin-top: 15px;
}
 */
.out-container {

  background-color: #383737;

}

.navigation {
  background-color:#f5efef;
}

.dashboard {
  background-color: 	#f5efef;

}

.dashboard-information {
  background-color: #f5efef;
}

.setting {
  background-color: lightblue;
}

.news {
  background-color: lightgreen;
}
