/* .container-size{
  width:100%;
  height: 450px;;
}

.char-region-size{
  width: 90%;
}
.spinner_position{
  margin-top: 200px;
  margin-left: 350px;
}
mat-form-field.mat-form-field {
  font-size: 12px;
}



options hAxis textStyle{

  font-size: 2 ;


} */

.in-container{
  height: 80vh;
}

.in-container-sm{
  height: 72vh;
}

.in-container-xs{
  height: 56vh;
}



.chart-size{
  width: 900px;
  height: 600px;
}
.chart-size-md{
  width: 700px;
  height: 525px;
}

.chart-size-sm{
  width: 600px;
  height: 450px;
}

.chart-size-xs{
  width: 400px;
  height: 300px;
}
