


  <div fxLayout="column" fxFlex="100" fxFlex.sm="100" fxFlex.xs="100" fxLayoutAlign="space-around center"
      class="in-container">


    <div *ngIf="!stillReading" fxLayout="column"  >

      <google-chart [options]="myOptions" [type]="chartData.type" [data]="chartData.data" [columns]="chartData.chartColumns"
      style="width: 90%;" [dynamicResize]="true">
      </google-chart>

    </div>



    <div *ngIf="stillReading" class="spinner_position">
      <mat-progress-spinner [color]="'accent'" [mode]="'indeterminate'">
      </mat-progress-spinner>
    </div>

  </div>

