<div fxLayout="row" fxLayout.sm="row" fxLayout.xs="column" fxFlex="100" fxFlex.sm="100" fxFlex.xs="100"
  class="in-container" ngClass.sm="in-container-sm" ngClass.xs="in-container-xs">

  <div fxFlex="30" fxFlex.sm="30" fxFlex.xs="30" class="data-selector">
    <mat-form-field appearance="outline">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [formGroup]="dateRange" [rangePicker]="picker" [comparisonStart]="dateRange.value.startDate"
        [comparisonEnd]="dateRange.value.endDate" >
        <input matStartDate formControlName="startDate" placeholder="Start date">
        <input matEndDate (dateInput)="onChangeDate()" formControlName="endDate" placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </div>

  <div fxFlex="70" fxFlex.sm="70" fxFlex.xs="70" [formGroup]="marketGroup">

    <h4>選擇要顯示的市場</h4>
<!--  -->
 <!-- [(ngModel)]="market.trigger" -->

      <mat-checkbox *ngFor="let market of marketArray;let i=index"
      [checked]="market.trigger"   formControlName={{market.formControlName}}>
        {{market.market}}
      </mat-checkbox>
  </div>

</div>
