<!-- <div class="container-out">
  <div class="container-in" fxLayout="column" fxLayoutAlign="space-around center" fxLayout.xs="row">
    <div fxLayout="column" fxLayoutAlign="space-around center" fxLayout.xs="row">
      <button mat-icon-button  fxShow="true" fxHide.gt-sm    (click)="sidenav.toggle()">

        <mat-icon>menu</mat-icon>
      </button>

    </div>

    <div fxLayout="column" fxHide.lt-sm >
      <mat-nav-list *ngFor="let item of items; let i = index">

        <a routerLink="{{item.link}}" mat-list-item routerLinkActive="active-link"
          [routerLinkActiveOptions]="{exact:true}" routerLinkActive #rla="routerLinkActive">
          <img class="nav-img" [src]="rla.isActive ? item.imagePathT : item.imagePathF" class="round" alt="Responsive image">
          <p>test1</p>
        </a>
      </mat-nav-list>
    </div>
  </div>
</div> -->

<!--
<div class="container" fxLayout="column" fxLayout.md="row" fxLayoutGap="20px">
  <div class="cardWrap" fxLayout.lt-md="column" fxLayout.md="column" fxLayout="row" fxFlex.md="50"
    fxLayoutAligmnet="space-between center" fxLayoutGap="20px">
    <div fxFlex.lt-md="50" fxFlex="35">Card</div>
    <div fxFlex.lt-md="100" fxFlex="35">Card</div>
    <div fxFlex.lt-md="100" fxFlex="35">Card</div>
  </div>
  <div class="cardWrap" fxLayout.lt-md="column" fxLayout.md="column" fxLayout="row" fxFlex.md="50"
    fxLayoutAligmnet="space-between center" fxLayoutGap="20px">
    <div fxFlex.lt-md="100" fxFlex="35">Card</div>
    <div fxFlex.lt-md="100" fxFlex="35">Card</div>
    <div fxFlex.lt-md="100" fxFlex="35">Card</div>
  </div>
</div> -->
<div style="height: 80vh;">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button
        mat-icon-button
        (click)="sidenav.toggle()"
        fxShow="true"
        fxHide.gt-sm
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>Responsive Navigation</span>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a href="#" mat-button>Menu Item A</a>
        <a href="#" mat-button>Menu Item B</a>
        <a href="#" mat-button>Menu Item C</a>
        <a href="#" mat-button>Menu Item D</a>
        <a href="#" mat-button>Menu Item E</a>
        <a href="#" mat-button>Menu Item F</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
        <a href="#" mat-list-item>Menu Item 1</a>
        <a href="#" mat-list-item>Menu Item 2</a>
        <a href="#" mat-list-item>Menu Item 3</a>
        <a href="#" mat-list-item>Menu Item 4</a>
        <a href="#" mat-list-item>Menu Item 5</a>
        <a href="#" mat-list-item>Menu Item 6</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>Main content</mat-sidenav-content>
  </mat-sidenav-container>
</div>
