/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}






/**/
/* 設定navigation bar的尺寸 */
.container-size {

  width: 200px;
  height: 750px;
}


/* 設定navigation bar的背板背景顏色 */
.outBC {
  background-color: darkgrey;

}
/* 設定navigation bar的前版背景顏色，和設定邊角有弧度 */
.inBC {
  background-color: white;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;

}
/* 設定logo和邊界的距離*/
.logo-position{
  margin-top: 30px;
}
/* 設定list和logo的距離*/
.list-position{
  margin-top: 50px;
}
/* 設定向右的箭頭，google div triangle */
.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 20px;
  border-color: transparent transparent transparent transparent;
}

.triangle_color{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 20px;
  border-color: transparent transparent transparent #add8e6;
}

/* 設定list沒有底線，而且寬度100% */
li {
  border-bottom: 0;
  width: 100%;
}

/* 設定list中，文字和三角形的位置，讓兩者並排顯示，在主div設定為relative*/
.containerOfLink{
  position:relative;
}
/* 設定list中，三角形的位置為absolute，這樣設定可以決定在div中的位置*/
.elementV{
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 1;
  margin: auto;
  height: 15px; /*requires explicit height*/
}

/* .inner_container_position{
  position: relative;
}

.logo_position{

  position: absolute;
  top: 50px;
  left:80px;
  text-align: center;
}

.list-position{
  position: absolute;
  top: 150px;
  left:70px;
  text-align: center;
} */

