  /* .container-out {
    width: 100%;
    height: auto;

  }
*/
  /* .container-in {
    margin: 10px;
    width: 100%;
    height: auto;
  } */

  .logo-img {
    max-width: 40%;
    height: auto;
  }

  .nav-img {
    max-width: 100%;
    height: auto;
  }

  /* .container .cardWrap div{
    height: 300px;
    border:2px solid gray;
    } */

  .in-container {

    border: solid white;
    background-color: white;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;

  }
