<!-- <div class="container-size outBC sidebar ">
  <div class="container-size border inBC ">
    <div>
      <div class="logo-position text-center">
        <img [src]="items[0].imagePath" />
      </div>
      <div class="list-position">
        <ul class="list-group list-group-flush">
          <li class="list-group-item" aria-current="true" *ngFor="let item of items; let i = index"
            (click)="activateClass(i)">

            <div class="row containerOfLink">
              <div [ngClass]="item.active ? 'triangle_color':'triangle'" class="col-sm-4">
              </div>
              <div class="col-sm-6">
                <a routerLink="{{item.link}}">
                  <img [src]="item.imagePath" class="rounded" alt="Responsive image">
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div> -->

<div class="sidebar">
  <a class="active" href="#home">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
</div>
