  /* .container-out {
    width: 100%;
    height: auto;

  }
*/
  /* .container-in {
    margin: 10px;
    width: 100%;
    height: auto;
  } */

  .logo-img {
    width: 55%;
    height: auto;
  }

  .nav-img {
    max-width: 100%;
    height: auto;
  }

  /* .container .cardWrap div{
    height: 300px;
    border:2px solid gray;
    } */

  .in-container {
    border: solid #fff1f1;
    background-color: #fff1f1;
  }

  .set-xs-sm-width{
    min-width: 100vw;
  }
  .set-corner-border{
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
    min-height: 100vh;
  }
